<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestión de Cursos - Cesde</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Bienvenido a la Gestión de Cursos de Cesde</h1>
        <p class="lead">Seleccione una opción del menú para continuar.</p>
        <div class="list-group mt-4">
            <a href="/cursos" class="list-group-item list-group-item-action">Gestionar Cursos</a>
            <a href="/docentes" class="list-group-item list-group-item-action">Gestionar Docentes</a>
        </div>
    </div>
</body>
</html>